<div class = "container">

    <h1>All Movies</h1>
    <hr class="my-4">

    <!---search--->
    <%= form_tag(movies_path, method: 'get') do %>
        <div>
            <%= text_field_tag :term, nil, id: "Search"%>
            <%= submit_tag "Search" %>
        </div>
    <% end %>

    <br>
    <br>

    <% @movies.each do |movie| %>
            <div>
                <%= link_to movie.title, movie_path(movie) %> - <%= movie.release_year %>
            </div>
            <br>
    <% end %>

</div>