<br>
<br>
<br>
<div>
  <h4>Search for a Movie: </h4>
  <%= form_tag(movies_path, method: 'get') do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("search") %>
  <% end %>
</div>


<div>
    <ul>
      <% @movies.each do |movie| %>
        <h2>Name: <%= link_to movie.title, movie_path(movie) %></h2>
        Release Year:<%= movie.release_year %> 
        <br>
        Summary:<%= movie.summary %> 
        <br>
        Genre:<%= movie.genre %> 
        <br>
      <% end %>
    </ul> 
</div> 