<br>
<br>
<br>
<h1>Title: <%= @movie.title %></h1>
<h4>Release Year: <%= @movie.release_year%></h4>
<h4>Genre: <%=  @movie.genre%></h4>
<h4>Summary: <%=  @movie.summary%></h4>
<br><br>

<%= form_for(@movie) do |f| %>
    
        <p class="button"><%= link_to 'Edit Movie', edit_movie_path(@movie) %></p>
    
    
        <p class="button"><%= button_to 'Delete Movie', movie_path(@movie), method: 'delete' %></p>
    
<% end %>
<%= link_to "Add a review", new_movie_review_path(@movie)  %>
<br><br>
<h4><strong>Reviews: </strong></h4>
<% @movie.reviews.each do |review| %>
    <ul>
        <li><strong><%= review.user.username %></strong> says "<%= review.comment %>"</li>
    </ul>
<% end %>