
<% if @movie.present? %>
<h1><%= @movie.title %></h1>

<h4>About this movie:</h4>
<ul>
    <li>Summary: <%= @movie.summary %></li>
    <li>Genre: <%= @movie.genre %></li>
    <li>Release Year: <%= @movie.release_year %></li>
</ul>

<hr>

<p><%= link_to 'Edit Movie', edit_movie_path(@movie) %></p>

<p class="button"><%= button_to 'Delete Movie', movie_path(@movie), method: 'delete' %></p>

<hr>
<p><%= link_to 'Go back', movies_path %></p>
<p><%= link_to 'See reviews for this movie', movie_reviews_path(@movie) %></p>
<p><%= link_to 'Add review for this movie', new_movie_review_path(@movie) %></p>
<% else %>

<h1>Movie does not exist.</h1>
<p><%= link_to 'Go back', movies_path %></p>

<% end %>  