<br>
<br>
<br>
<h2>Edit your review</h2>

<%= form_for(@review) do |f| %> 
     
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title, placeholder: "Update your review title" %>
    <br>
    <br>
    <%= f.label :comment, "Review: " %>
    <%= f.text_area :comment, placeholder: "Update your review" %>
    <%= f.submit "Submit" %>
<% end %>

<p class="button"><%= button_to 'Delete Comment', review_path(@review), method: 'delete' %></p>

<p><%= button_to 'Return to the review', review_path, method: 'get' %></p>